* {margin: 0; padding: 0; box-sizing: border-box;}

@font-face {
   font-family: 'capture';
   src: url(../FONTS/Capture\ it.ttf);
}

.teste
{
   display: flex;
   height: 100vh;
   width: 100vw;
   justify-content: center;
   align-items: center;
   font-size: 4rem;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: #0093E9;
   background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
   color: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
   font-family: 'capture';
   text-align: center;
}

.teste > span
{
   margin: 2rem;
}

.gradient, .manutencao {
   /* Primeiro passo: definir um degradê como fundo */
   background-image: linear-gradient( 111.4deg,  rgba(238,113,113,1) 1%, rgba(246,215,148,1) 58% );
   
   /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
   background-clip: text;
   -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */
 
   /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
   -webkit-text-fill-color: transparent;
 
   /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
   color: black;
   
}

#gear
{
   width: 50px;
   height: 50px;
   animation: engineKeyframe 1s infinite linear;
}

.manutencao
{
   opacity: 1;
   animation: piscar 1s 3s cubic-bezier(0.215, 0.610, 0.355, 1) infinite;
}

/* #cair
{
   animation: cair 3s forwards;
} */