* {margin: 0; padding: 0; box-sizing: border-box;}

@font-face {
   font-family: 'capture';
   src: url(../FONTS/Capture\ it.ttf);
}

body
{
   height: 100vh;
   width: 100vw;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   font-size: 4rem;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: #0093E9;
   background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
   color: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
   font-family: 'capture';
   text-align: center;
}

header
{
   display: flex;
   align-items: center;
   font-family: 'Courier New', Courier, monospace;
   font-size: 1.7rem;
   width: 100vw;
   justify-content: space-between;
   padding: 2rem;
   height: 70px;
   background-color: #80D0C7;
   box-shadow: 2px 2px 4px #F7CE68;
}

header figure img
{
   width: 50px;
}

.teste
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   animation: cair 2s 1s forwards;
   margin: 1rem;
   opacity: 0;
   height: calc(100vh - 70px);
}

.teste > span
{
   margin: 2rem;
}

.gradient, .manutencao, .message {
   /* Primeiro passo: definir um degradê como fundo */
   background-image: linear-gradient( 111.4deg,  rgba(238,113,113,1) 1%, rgba(246,215,148,1) 58% );
   
   /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
   background-clip: text;
   -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */
 
   /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
   -webkit-text-fill-color: transparent;
 
   /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
   color: black;
   
}

#gear
{
   opacity: 1;
   width: 50px;
   height: 50px;
   animation: engineRotate 3s 3s infinite linear;
}

.manutencao
{
   opacity: 1;
   animation: piscar 1s 3s cubic-bezier(0.215, 0.610, 0.355, 1) infinite;
}

.message
{
   opacity: 0;
   animation: aparecer 2s 4s forwards;
}

#cara-triste
{
   width: 200px;
}